:host {
  .mat-icon {
    padding-right: 5px;
  }

  .mat-toolbar.mat-primary {
    position: fixed;
    top: 0;
    z-index: 2;
    cursor: pointer;
  }

  .submit-button {
    margin-bottom: 10px;
    margin-top: 20px;
  }

  .blog-input {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
    margin-right: auto;
    width: 80%;

    mat-form-field.mat-mdc-form-field {
      margin-top: 10px;
      width: 100%;
    }
  }
}
